body {
    height: 85vh;
}

.hidd {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.opacity-self {
    background-color: rgba(255, 255, 255, 0.5);
}

#adder {
    background-image: url('/images/background.jpg');
}